<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

    <meta charset="utf-8">
    <title>花卉列表--后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel = "shortcut icon" href="${site.logo}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
 	<script src="https://img.hcharts.cn/highcharts/themes/dark-unica.js"></script>
</head>
<body class="childrenBody">
<fieldset class="layui-elem-field">
    <legend>信息检索</legend>
    <div class="layui-field-box">
        <form class="layui-form">
            <div class="layui-inline" style="width: 15%">
                <input type="text" value="" name="s_key" placeholder="可以输入标题/类型" class="layui-input search_input">
            </div>
            <div class="layui-inline">
                <a class="layui-btn" lay-submit="" lay-filter="searchForm">查询</a>
            </div>
            <shiro:hasPermission name="sys:wflowers:add">
            <div class="layui-inline">
                <a class="layui-btn layui-btn-normal" data-type="addUser">添加花卉信息</a>
            </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="sys:wflowers:delete">
            <div class="layui-inline">
                <a class="layui-btn layui-btn-danger" data-type="deleteSome">批量删除</a>
            </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="sys:message:lmport">
            <div class="layui-inline">
                 <button type="button" class="layui-btn layui-btn-warm" id="test8">导入Excel</button>
            </div>
            </shiro:hasPermission>
            <shiro:hasPermission name="sys:message:derive">
            <div class="layui-inline">
                 <a type="button" class="layui-btn layui-btn-warm" data-type="derive" >导出Excel</a>
            </div>
            </shiro:hasPermission>
        </form>
    </div>
</fieldset>
<div class="layui-form users_list">
    <table class="layui-table" id="userTable" lay-filter="userList"></table>
     <script type="text/html" id="audit">
        {{#  if(d.audit == 1){ }}
        <span class="layui-badge layui-bg-green">审核通过</span>
        {{#  } else { }}
        <span class="layui-badge layui-bg-gray">未审核</span>
        {{#  } }}

    </script>
    
    <script type="text/html" id="chakan">
		<shiro:hasPermission name="sys:wflowers:chakan">
			<a class="layui-btn layui-btn-xs" lay-event="chakan">查看回复内容</a>
		</shiro:hasPermission>
    </script>
    <script type="text/html" id="userBar">
		 <shiro:hasPermission name="sys:wflowers:lock">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="lock">审核通过</a>
        </shiro:hasPermission>
        <shiro:hasPermission name="sys:wflowers:edit">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        </shiro:hasPermission>
        <shiro:hasPermission name="sys:wflowers:delete">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </shiro:hasPermission>
    </script>
</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/wflowers/wflowers.js}">

</script>
</body>
</html>
